<!-- extends "base.html"によって、「base.html」ファイルにエクスポートする。 -->
<!-- bootstrap/を書くことで、bootstrapを適用。 -->
{% extends "base.html" %}
{% block title %}ホーム{% endblock %}

<!-- 「block content」から「endblock」までを「base.html」の同様の部分に挿入する。 -->
{% block content %}
<div class="container">
    <h1><a href="/problem_generation" role="button">バビ検を受験する</a></h1>
    <p>事前にユーザー登録をするとランキングにユーザー名が残ります。</p>
    <p>
        バビ検とは、バビ語に翻訳する速さと文字数によってランクを得られるサイトです。

        バビ語とは、入れ詞の一種です。
        例えば「おはよう」はバビ語で「おぼはばよぼうぶ」となります。
        
        つまり、言葉の間に「ばびぶべぼ」を入れます。付け足す音は、直前の文字の母音とするという決まりがあります。「ん」には「ぶ」を適用します。
    </p>
</div>
{% endblock %}